
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 239, 226) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

header .container-fluid {
    background-color:rgb(243, 219, 165);
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
}

header #navbarNavAltMarkup a  {
    text-decoration: none;
    color: rgb(233, 130, 12);
    font-size: 16px;
}

.breadcrumb {
    background-color: transparent !important;
    position: absolute;
    right: 2rem;
}
.mymap {
    background-color:rgb(243, 219, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 10rem 0;
    padding-bottom: 5rem;
}
.vist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
#map
{ 
    height: 400px;
    width: 800px;
}
.loca {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.90rem !important;
}
.bredu {
    margin-top: 1rem;
    position: relative;
}
.active:hover {
    text-decoration: underline;
    color:rgb(168, 121, 14);
}

 .image-side img:hover{
    transform: translatey(-35px);
    transition: 1s;
}
.image-card img:hover
{
    transform: translatey(-35px);
    transition: 1s;
}
.image-card {
    text-align: center;
}
.hero .container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-pg {
    width: 600px;
    margin-top: 2rem;
    font-size: 18px;
    font-style: italic;
}

.prob-text {
    width: 600px;
    display: flex;
    margin-left: 8rem;
}

section.about {
    margin-top: 3rem;
}

section.video {
    margin-top: 5rem;
    background-color:rgb(243, 219, 165);
    padding: 2rem;
}

.videoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

section.problam {
    margin-top: 4rem;
}

section.problam .effiects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card {
    text-align: center;
}

.head-con {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: rgb(219, 127, 23);
}

section.solutions
{
    margin-top: 5rem;
    width: 100%;
    background-color:rgb(243, 219, 165);
}

section.more .container-fluid .cards .row {
    width: 100%;
}

section.problam .container-fluid .effiects .row {
    width: 100% !important;
}

section.solutions .container-fluid .row {
    width: 92% !important;
}

section.solutions .text-pg{
    font-size: 1.5rem;
}

footer {
    background-color:rgb(243, 219, 165);
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .left-side .text-pg{
    width: 150px;
    margin-top: 0rem;
    color: rgb(233, 130, 12);
    font-size: 18px;
    font-style: italic;
}

section.about .text-pg {
    color: rgb(91, 52, 8);
}

section.about .logo-abo
{
    margin-top: 1rem;
}

section.send-e .head-con{
    text-align: start;
    padding-left: 20rem;
}

section.send-e form{
    padding-left: 20rem;
}

.info .for > div {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Buy Page */
.our-course {
    margin-top: 10rem;
}
.our-course .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.right .card {
    margin-right: 1rem;
}

.card-body {
    background-color: coral;
}
.carousel-caption {
    color: wheat !important;
}
.carousel {
    width:600px !important;
}
.carousel-caption {
    background-color: rgba(255, 127, 80, 0.8);
    color: black !important;
}

.carousel-control-prev-icon {
    background-color: rgba(255, 127, 80, 0.8);
}

.carousel-control-next-icon {
    background-color: rgba(255, 127, 80, 0.8);
}
.form-section {
    display: flex;
}
.form-section .form {
    margin-right: 2rem;
}
.forms {
    margin-bottom: 5rem;
}
.card-body {
    font-weight: 600;
}


/* Resources for responsive page : 
    https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/

/* Responsvie */
@media only screen and (max-width: 600px){
    .bredu{
        margin-bottom: 5rem;
    }

    .breadcrumb {
        right: 7rem;
    }

    .hero .image-side img {
        width: 400px;
    }

    .hero .text-pg {
        width: 450px;
        padding-left: 3rem;
    }

    .solutions .text-pg{
        width: 460px;
    }

    .text-pg {
        width: 444px;
        margin-top: 0;
        font-size: 16px;
    }

    .prob-text {
        width: 444px;
        margin-left: 0;
    }

    footer.all {
        position: relative;
        width:100%;
    }

    .right-side-ab {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-side-ab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        margin-left: 0;
    }
    .info .con-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }
    .info input {
        width: 20rem;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: none;
    }
    .info textarea {
        width: 20rem;
        border: 1px solid #ccc;
        padding: 1rem;
        box-shadow: none;
    }
    .info .for > div {
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactBody .head-con {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info input[type="submit"]
    {
        background-color: coral;
        color: #ccc;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }
    .info .for {
        margin-bottom: 2rem;
    }
    .right .card {
        margin-bottom: 1rem;
    }
    .right .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form-section .form {
        margin-bottom: 2rem;
    }
    header .container-fluid {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 600px) {
    .prob-text {
        width: 460px;
        margin-left: 3rem;
    }
    .bredu{
        margin-bottom: 5rem;
    }
    .breadcrumb {
        right: 16rem;
    }
    .image-side {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .parg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-sol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.solutions .text-pg {
        margin-left: 7rem;
    }
    footer.all {
        position: relative;
        width:100%;
    }
    .right-side-ab {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-side-ab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        margin-left: 0;
    }
    .info .con-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }
    .info input {
        width: 20rem;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: none;
    }
    .info textarea {
        width: 20rem;
        border: 1px solid #ccc;
        padding: 1rem;
        box-shadow: none;
    }
    .info .for > div {
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactBody .head-con {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info input[type="submit"]
    {
        background-color: coral;
        color: #ccc;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }
    .info .for {
        margin-bottom: 2rem;
    }
    .right .card {
        margin-bottom: 2rem;
    }
    .right .row {
        display: flex;
        justify-content: center;
    }
    header .container-fluid {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 768px) {
    footer.all {
        position:relative;
        width:100%;
    }
    .right-side-ab {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left-side-ab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        margin-left: 0;
    }
    .info .for {
        margin-bottom: 2rem;
    }
    .info input {
        width: 20rem;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: none;
    }
    .info textarea {
        width: 20rem;
        border: 1px solid #ccc;
        padding: 1rem;
        box-shadow: none;
    }
    .info .for > div {
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info input[type="submit"]
    {
        background-color: coral;
        color: #ccc;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }
    .contactBody .head-con {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right .card {
        margin-bottom: 2rem;
    }
    .right .row {
        display: flex;
        justify-content: center;
    }
    header .container-fluid {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 992px) {
    footer.all {
        background-color:rgb(243, 219, 165);
        width:100%;
    }

    .text-pg {
        width: 450px;
    }

    .info {
        margin-top: 3rem;
    }

    .info .for{
        margin-top: 3rem;
    }

    .info .for > div {
        padding-bottom: 1.2rem;
        margin-left: 10rem;
    }
    
    .info input {
        width: 30rem;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: none;
    }

    .info textarea {
        width: 30rem;
        border: 1px solid #ccc;
        padding: 1rem;
        box-shadow: none;
    }

    .info input[type="submit"]
    {
        background-color: coral;
        color: #ccc;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }

    .info .con-img {
        width: 300px;
        height: 300px;
        position: absolute;
        right: 10rem;
    }

    .contactBody .head-con {
        text-align: start;
        padding-left: 1rem;
    }
    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .container-fluid {
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 1200px) {
    footer.all {
        background-color:rgb(243, 219, 165);

        width:100%;
    }
    .info {
    margin-left: 5rem;
    margin-top: 3rem;
    }
    .info .for{
        margin-top: 3rem;
    }

    .info .for > div {
        padding-bottom: 1.2rem;
        margin-left: 10rem;
    }
    .info input {
        width: 30rem;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: none;
    }
    input {
        width: 30rem;
        padding: 1rem;
        border: 1px solid #ccc;
        box-shadow: none;
    }
    .info textarea {
        width: 30rem;
        border: 1px solid #ccc;
        padding: 1rem;
        box-shadow: none;
    }
    .info input[type="submit"]
    {
        background-color: coral;
        color: #ccc;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }

    .info .con-img {
        width: 300px;
        height: 300px;
        position: absolute;
        right: 10rem;
    }

    .contactBody .head-con {
        text-align: start;
        padding-right: 60rem;
    }
    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mymap .container .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .container-fluid {
        display: flex;
        justify-content: space-between;
    }
}